html[lang=ja] body { font-size: 85%; }
img { max-width: 100%; }
article h2 { color: #094; }
a { color: #094; text-decoration: none; }
a img { border: 0; }
div.image-sample { margin-top: 1em; }
div.image-sample h3 { margin-bottom: 0.25em; }
div.image-sample img { border: 1px solid gray; }
div#lang-selector-area { text-align: right; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
